@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';

.weather-app-wrapper {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background: linear-gradient(to right, #ffd89b, #19547b);
}